:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --max-width: 800px;
  --white: rgba(255, 255, 255, 0.87);

  color-scheme: light dark;
  color: var(--white);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--white);
  text-decoration: underline;
  font-weight: bold;
}
a:hover {
  filter: brightness(0.8);
}

body {
  margin: 0;

  place-items: center;
  min-height: 100vh;
}

h1 {
  font-family: 'Verdana', 'Geneva', 'Arial', sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
}

#image {
  width: 100%;
  max-width: 1200px;
  background: var(--white);
  display: block;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e9e975;
  color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffef64;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#options {
  padding: 0.5rem;
}

label {
  font-weight: bold;
  display: block;
}

.wrapper {
  width: 100%;

  @media screen and (min-width: 800px) {
    display: flex;
    max-width: 1600px;
    margin: auto;
  }
}

.main {
  flex-grow: 2;
}

#loading {
  display: none;

  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.6rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(22, 32, 23, 0.4);
  text-shadow: 1px 1px 5px rgba(22, 32, 23, 0.8);
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
}

#loading.isLoading {
  display: flex;
}

#download {
  margin: 1rem 0 2rem;
}

#error {
  display: none;
  width: 100%;
  max-width: var(--max-width);
  padding: 0.25rem 3rem;
  background-color: rgba(200, 45, 32, 0.4);
  border-left: 2px solid rgba(200, 45, 32, 1);
}
#error.hasError {
  display: block;
}

#error h3,
#error p {
  margin: 0.25rem 0;
}

.info {
  max-width: var(--max-width);
}

input {
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

footer {
  @media screen and (max-width: 1160px) {
    margin-left: 190px;
  }

  @media screen and (max-width: 800px) {
    margin: 0 0.5rem;
  }
}

footer h2 {
  font-family: 'Verdana', 'Geneva', 'Arial', sans-serif;
  margin-top: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a {
    color: #242424;
  }
  a:hover {
    color: #747bff;
  }
}
